<section class="about-us" id="about-us">
  <div class="container about-us-container">
    <img
      class="images-about-us"
      src="../img/about-us.jpg"
      srcset="../img/about-us@2x.jpg 2x"
      alt="The Artistry Behind Handmade Jewelry"
      width="640"
    />

    <div class="about-us-content">
      <h2 class="title-about-us">The Artistry Behind Handmade Jewelry</h2>
      <p class="text">
        Handmade Jewelry began as a passion project, inspired by the beauty of
        nature and the desire to create meaningful pieces. Each item is crafted
        with love, reflecting our commitment to sustainability and the unique
        story of its maker.
      </p>

      <ul class="about-us-list">
        <li class="about-us-item about-us-item-leaf">Inspired by Nature</li>

        <li class="about-us-item about-us-item-heart">Handcrafted with Love</li>

        <li class="about-us-item about-us-item-story">
          Every Piece Tells a Story
        </li>
      </ul>
    </div>
  </div>
</section>
