<section class="gallery">
   <div class="container">
      <h2 class="gallery__title">Jewelry Showcase</h2>
      <p class="gallery__description">Discover the beauty of our handcrafted jewelry in style.</p>
      <ul class="gallery__page">
         <li class="gallery__page-image">
            <img srcset="../img/ph-1-desktop.jpg 1x, ../img/ph-1-desktop@2x.jpg 2x" src="../img/ph-1-desktop.jpg"
               alt="Purple beaded bracelet">
         </li>
         <li class="gallery__page-image"><img srcset="../img/ph-2-desktop.jpg 1x, ../img/ph-2-desktop@2x.jpg 2x"
               src="../img/ph-2-desktop.jpg" alt="Oval pendant with an orange stone"></li>
         <li class="gallery__page-image"><img srcset="../img/ph-3-desktop.jpg 1x, ../img/ph-3-desktop@2x.jpg 2x"
               src="../img/ph-3-desktop.jpg" alt="Brown beaded bracelet worn on the wrist"></li>
         <li class="gallery__page-image"><img srcset="../img/ph-4-desktop.jpg 1x, ../img/ph-4-desktop@2x.jpg 2x"
               src="../img/ph-4-desktop.jpg" alt="Brown round earrings with a carved floral pattern"></li>
      </ul>
   </div>

</section>