<section class="gallery">
   <div class="container">
      <h2 class="gallery__title">Jewelry Showcase</h2>
      <p class="gallery__description">Discover the beauty of our handcrafted jewelry in style.</p>
      <ul class="gallery__page">
         <li class="gallery__page-image">
            <img srcset="../img/gallery-1.jpg 1x, ../img/gallery-1.jpg 2x" src="../img/gallery-1.jpg" alt="">
         </li>
         <li class="gallery__page-image"><img srcset="../img/gallery-2.jpg 1x, ../img/gallery-2.jpg 2x"
               src="../img/gallery-2.jpg" alt=""></li>
         <li class="gallery__page-image "><img srcset="../img/gallery-3.jpg 1x, ../img/gallery-3.jpg 2x"
               src="../img/gallery-3.jpg" alt=""></li>
         <li class="gallery__page-image"><img srcset="../img/gallery-4.jpg 1x, ../img/gallery-4.jpg 2x"
               src="../img/gallery-4.jpg" alt=""></li>
      </ul>
   </div>

</section>