<section class="testimonials" id="testimonials">
  <div class="container">
    <div class="testimonials__header">
      <h2 class="testimonials__title">Customer testimonials</h2>

      <p class="testimonials__description">
        Absolutely love my new earrings! They are stunning.
      </p>
    </div>

    <ul class="testimonials__list">
      <li class="testimonials__item">
        <img
          class="testimonials__image"
          src="./img/testimonials/avatar-1.jpg"
          alt="Woman wearing handmade earrings"
        >
      </li>

      <li class="testimonials__item">
        <img
          class="testimonials__image"
          src="./img/testimonials/avatar-2.jpg"
          alt="Man wearing handmade pendant"
        >
      </li>

      <li class="testimonials__item testimonials__item--review">
        <article class="testimonials__card">
          <ul class="testimonials__rating">
            <li class="testimonials__rating-item">
              <svg class="testimonials__rating-icon" width="24" height="24">
                <use href="./svg-icons/sprite.svg#star-filled"></use>
              </svg>
            </li>

            <li class="testimonials__rating-item">
              <svg class="testimonials__rating-icon" width="24" height="24">
                <use href="./svg-icons/sprite.svg#star-filled"></use>
              </svg>
            </li>

            <li class="testimonials__rating-item">
              <svg class="testimonials__rating-icon" width="24" height="24">
                <use href="./svg-icons/sprite.svg#star-filled"></use>
              </svg>
            </li>

            <li class="testimonials__rating-item">
              <svg class="testimonials__rating-icon" width="24" height="24">
                <use href="./svg-icons/sprite.svg#star-filled"></use>
              </svg>
            </li>

            <li class="testimonials__rating-item">
              <svg class="testimonials__rating-icon" width="24" height="24">
                <use href="./svg-icons/sprite.svg#star-outline"></use>
              </svg>
            </li>
          </ul>

          <p class="testimonials__text">
            "Each piece tells a story, and I love mine!"
          </p>

          <p class="testimonials__author">
            Thomas Mans
          </p>
        </article>
      </li>

      <li class="testimonials__item testimonials__item--review">
        <article class="testimonials__card">
          <ul class="testimonials__rating">
            <li class="testimonials__rating-item">
              <svg class="testimonials__rating-icon" width="24" height="24">
                <use href="./svg-icons/sprite.svg#star-filled"></use>
              </svg>
            </li>

            <li class="testimonials__rating-item">
              <svg class="testimonials__rating-icon" width="24" height="24">
                <use href="./svg-icons/sprite.svg#star-filled"></use>
              </svg>
            </li>

            <li class="testimonials__rating-item">
              <svg class="testimonials__rating-icon" width="24" height="24">
                <use href="./svg-icons/sprite.svg#star-filled"></use>
              </svg>
            </li>

            <li class="testimonials__rating-item">
              <svg class="testimonials__rating-icon" width="24" height="24">
                <use href="./svg-icons/sprite.svg#star-filled"></use>
              </svg>
            </li>

            <li class="testimonials__rating-item">
              <svg class="testimonials__rating-icon" width="24" height="24">
                <use href="./svg-icons/sprite.svg#star-filled"></use>
              </svg>
            </li>
          </ul>

          <p class="testimonials__text">
            "The craftsmanship is exquisite, and I feel unique wearing it."
          </p>

          <p class="testimonials__author">
            Jane Edison
          </p>
        </article>
      </li>

      <li class="testimonials__item">
        <img
          class="testimonials__image"
          src="./img/testimonials/photo-1.jpg"
          alt="Cup of coffee on the table"
        >
      </li>

      <li class="testimonials__item">
        <img
          class="testimonials__image"
          src="./img/testimonials/photo-2.jpg"
          alt="Customer holding a handmade ring"
        >
      </li>
    </ul>
  </div>
</section>