<section class="testimonials" id="testimonials">
  <div class="container">
    <div class="testimonials__header">
      <h2 class="testimonials__title">Customer testimonials</h2>

      <p class="testimonials__subtitle">
        Absolutely love my new earrings! They are stunning.
      </p>
    </div>

    <div class="testimonials__content">
      <img class="testimonials__image" src="../img/earring.jpg" srcset="../img/earring.jpg 1x, ../img/earring@2x.jpg 2x"
        alt="Woman wearing handmade earrings" width="304" height="260" />

      <img class="testimonials__image" src="../img/pendant.jpg" srcset="../img/pendant.jpg 1x, ../img/pendant@2x.jpg 2x"
        alt="Man wearing handmade pendant" width="304" height="260" />

      <article class="testimonial-card">
        <div class="testimonial-card__rating">
          <svg class="testimonial-card__star" width="24" height="24" aria-hidden="true">
            <use href="../svg-icons/sprite.svg#star-filled"></use>
          </svg>
          <svg class="testimonial-card__star" width="24" height="24" aria-hidden="true">
            <use href="../svg-icons/sprite.svg#star-filled"></use>
          </svg>
          <svg class="testimonial-card__star" width="24" height="24" aria-hidden="true">
            <use href="../svg-icons/sprite.svg#star-filled"></use>
          </svg>
          <svg class="testimonial-card__star" width="24" height="24" aria-hidden="true">
            <use href="../svg-icons/sprite.svg#star-filled"></use>
          </svg>
          <svg class="testimonial-card__star" width="24" height="24" aria-hidden="true">
            <use href="../svg-icons/sprite.svg#star-outline"></use>
          </svg>
        </div>

        <p class="testimonial-card__text">
          "Each piece tells a story, and I love mine!"
        </p>

        <p class="testimonial-card__author">Thomas Mans</p>
      </article>

      <article class="testimonial-card">
        <div class="testimonial-card__rating">
          <svg class="testimonial-card__star" width="24" height="24" aria-hidden="true">
            <use href="../svg-icons/sprite.svg#star-filled"></use>
          </svg>
          <svg class="testimonial-card__star" width="24" height="24" aria-hidden="true">
            <use href="../svg-icons/sprite.svg#star-filled"></use>
          </svg>
          <svg class="testimonial-card__star" width="24" height="24" aria-hidden="true">
            <use href="../svg-icons/sprite.svg#star-filled"></use>
          </svg>
          <svg class="testimonial-card__star" width="24" height="24" aria-hidden="true">
            <use href="../svg-icons/sprite.svg#star-filled"></use>
          </svg>
        </div>

        <p class="testimonial-card__text">
          "The craftsmanship is exquisite, and I feel unique wearing it."
        </p>

        <p class="testimonial-card__author">Jane Edison</p>
      </article>

      <img class="testimonials__image" src="../img/bracelet.jpg"
        srcset="../img/bracelet.jpg 1x, ../img/bracelet@2x.jpg 2x"
        alt="Woman holding a cup of coffee while wearing a handmade bracelet" width="304" height="260" />

      <img class="testimonials__image" src="../img/ring.jpg" srcset="../img/ring.jpg 1x, ../img/ring@2x.jpg 2x"
        alt="Customer holding a handmade ring" width="304" height="260" />
    </div>
  </div>
</section>