/* Mobile version */
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 12px 2px 20px;
}

.logo-icons {
  width: 160px;
  height: 68px;
  display: block;
  color: #000;
}

.mobile-menu-open {
  display: inline-block;
  border: none;
  width: 48px;
  height: 48px;
  padding: 12px;
  background-color: inherit;
  margin-left: auto;
}

.header-nav-list,
.header-btn {
  display: none;
}

/* Tablet version */
@media (min-width: 768px) {
  .header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    padding: 0 32px;
    height: 72px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .logo-icons {
    width: 84px;
    height: 36px;
  }

  .mobile-menu-open {
    display: none;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .header-nav-link {
    color: #000000;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link:hover,
  .header-nav-link:focus {
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }

  .header-nav-link:active {
    color: #8668c7;
  }

  .header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 119px;
    height: 36px;
    margin-left: auto;
    box-sizing: border-box;
    margin-left: 0;
    padding: 6px 12px;
    border: 1px solid #ccc16e;
    background-color: #ccc16e;
    font-weight: 500;
    color: #000000;
    transition:
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-btn:hover,
  .header-btn:focus {
    background-color: transparent;
  }

  .header-btn:active {
    background-color: #ccc16e;
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.25);
  }
}

/* Desktop version */
@media (min-width: 1440px) {
  .header-container {
    max-width: 1440px;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0 64px;
    gap: 48px;
  }

  .header-nav-list {
    gap: 32px;
  }

  .header-btn {
    width: 192px;
    margin-left: auto;
  }
}