/* Mobile version */
.testimonials {
    padding: 64px 0;
    background-color: #ffffff;
}

.testimonials>.container {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
}

.testimonials__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 24px;
    margin-bottom: 40px;

    text-align: center;
}

.testimonials__title {
    margin: 0;

    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;

    color: #000000;
}

.testimonials__subtitle {
    margin: 0;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    color: #000000;
}

.testimonials__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.testimonials__list {
    display: flex;
    flex-direction: column;

    gap: 24px;

    margin: 0;
    padding: 0;

    list-style: none;
}

.testimonials__review {
    display: flex;
    flex-direction: column;

    gap: 24px;

    width: 100%;
}

.testimonials__image-box {
    width: 100%;
    height: 260px;

    overflow: hidden;
}

.testimonials__image-box--border {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.testimonials__image {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    min-height: 214px;

    padding: 32px;

    background-color: #f2f2f2;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.testimonial-card__content {
    display: flex;
    flex-direction: column;

    gap: 24px;
}

.testimonial-card__rating {
    display: flex;
    align-items: center;

    gap: 4px;

    width: 136px;
    height: 24px;
}

.testimonial-card__star {
    display: block;

    width: 24px;
    height: 24px;

    flex-shrink: 0;
}

.testimonial-card__text {
    margin: 0;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;

    color: #000000;
}

.testimonial-card__author {
    margin: 24px 0 0;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;

    color: #000000;
}

/* Tablet version  */
@media screen and (min-width: 768px) {
    .testimonials {
        padding: 64px 0;
    }

    .testimonials>.container {
        max-width: 768px;
        padding: 0 32px;
    }

    .testimonials__item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        height: 260px;
    }

    .testimonials__item+.testimonials__item {
        margin-top: 24px;
    }

    .testimonials__images {
        grid-column: span 2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        height: 260px;
    }

    .testimonials__image {
        width: 100%;
        height: 260px;
        object-fit: cover;
    }

    .testimonial-card {
        width: 100%;
        min-height: 260px;
        height: 260px;
    }

    .testimonials__item:nth-child(2) .testimonial-card {
        order: -1;
    }

    .testimonial-card__author {
        margin-top: auto;
    }
}

/* Desktop version */
/* Desktop version */
@media screen and (min-width: 1440px) {
    .testimonials {
        padding: 64px 0;
    }

    .testimonials>.container {
        max-width: 1440px;
        padding: 0 64px;
    }

    .testimonials__header {
        max-width: 768px;
        margin: 0 auto 80px;
    }

    .testimonials__title {
        font-size: 48px;
    }

    .testimonials__content {
        .testimonials__content {
            gap: 24px 32px;
        }
    }

    .testimonials__item {
        display: grid;
        grid-template-columns: 304px 304px 640px;
        gap: 32px;
        height: 260px;
    }

    .testimonials__item:first-child .testimonials__image:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    .testimonials__item:first-child .testimonials__image:last-child {
        grid-column: 2;
        grid-row: 1;
    }

    .testimonials__item:first-child .testimonial-card {
        grid-column: 3;
        grid-row: 1;
        width: 100%;
    }

    .testimonials__item:nth-child(2) .testimonial-card {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
    }

    .testimonials__item:nth-child(2) .testimonials__image:first-child {
        grid-column: 2;
        grid-row: 1;
    }

    .testimonials__item:nth-child(2) .testimonials__image:last-child {
        grid-column: 3;
        grid-row: 1;
    }

    .testimonials__item:nth-child(2) {
        grid-template-columns: 640px 304px 304px;
    }

    .testimonials__images {
        display: contents;
    }

    .testimonials__image {
        width: 304px;
        height: 260px;
        object-fit: cover;
    }

    .testimonial-card__author {
        margin-top: auto;
    }
}